/* GENERAL */

$main-width: 1300px;
$padding: 1rem;


/* COLORS */

$primary:   #990000;
$secondary: #3399FF;
$tertiary:  #99CCFF;

$base-bg:   #FFF;
$alternate: #F4F4F4;

$base-font-color: #111;