/* GENERAL */
/* COLORS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  width: 100%; }

* {
  box-sizing: border-box; }

.page-wrapper {
  position: relative;
  min-height: 100vh; }

html, body {
  font-family: "Open Sans", sans-serif; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1rem; }

h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 600; }

h1, .h1 {
  font-size: 2.6rem;
  font-weight: 700; }

h2, .h2 {
  font-size: 2.2rem; }

h3, .h3 {
  font-size: 2rem; }

h4, .h4 {
  font-size: 1.8rem; }

h5, .h5 {
  font-size: 1.6rem; }

h6, .h6 {
  font-size: 1.4rem; }

/* LAYOUT */
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1rem; }

.overflow-hidden {
  overflow: hidden; }

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; }

.text-center {
  text-align: center; }

.tab-content {
  display: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.75, 0.25, 0.25, 0.75);
  -moz-transition: all 0.3s cubic-bezier(0.75, 0.25, 0.25, 0.75);
  -ms-transition: all 0.3s cubic-bezier(0.75, 0.25, 0.25, 0.75);
  -o-transition: all 0.3s cubic-bezier(0.75, 0.25, 0.25, 0.75);
  transition: all 0.3s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
  .tab-content.tab-content--open {
    display: block;
    visibility: visible;
    opacity: 1; }

.header {
  padding: 2rem 0; }
  .header .header-logo {
    max-width: 300px;
    margin: 0 auto; }

.main-nav a {
  color: #111;
  text-decoration: unset; }

.main-nav .navlist {
  display: flex;
  align-items: center;
  justify-content: center; }
  .main-nav .navlist .navlist__item a {
    display: block;
    padding: 1rem 2rem;
    position: relative;
    -webkit-transition: all 0.3s cubic-bezier(0.75, 0.25, 0.25, 0.75);
    -moz-transition: all 0.3s cubic-bezier(0.75, 0.25, 0.25, 0.75);
    -ms-transition: all 0.3s cubic-bezier(0.75, 0.25, 0.25, 0.75);
    -o-transition: all 0.3s cubic-bezier(0.75, 0.25, 0.25, 0.75);
    transition: all 0.3s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
    .main-nav .navlist .navlist__item a:after {
      content: '';
      border-bottom: 3px solid transparent;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      -webkit-transition: all 0.3s cubic-bezier(0.75, 0.25, 0.25, 0.75);
      -moz-transition: all 0.3s cubic-bezier(0.75, 0.25, 0.25, 0.75);
      -ms-transition: all 0.3s cubic-bezier(0.75, 0.25, 0.25, 0.75);
      -o-transition: all 0.3s cubic-bezier(0.75, 0.25, 0.25, 0.75);
      transition: all 0.3s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
    .main-nav .navlist .navlist__item a:hover, .main-nav .navlist .navlist__item a.active {
      background-color: rgba(0, 0, 0, 0.01);
      color: #990000; }
      .main-nav .navlist .navlist__item a:hover:after, .main-nav .navlist .navlist__item a.active:after {
        border-color: #990000; }

.region-wrapper {
  padding: 3rem 0;
  max-width: 800px;
  margin: 0 auto; }

.measure-item {
  margin: 3rem 0; }
  .measure-item .measure-item__date {
    font-style: italic;
    font-weight: 300;
    margin-bottom: 1rem; }

/*# sourceMappingURL=styles.css.map */