/* LAYOUT */

.container {
    max-width: $main-width;
    margin: 0 auto;
    padding: 0 $padding;
}

.overflow-hidden {
    overflow: hidden;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.text-center {
    text-align: center;
}